<header>


  <div class="our-logo">
   <img src="../../assets/images/Cap.png" id="logo">
  </div>

 
 <div class="main-content-header">
  <h1>Nulla vitae elit interdum <span>Welcome</span><br>
    Lorem ipsum dolor adipiscing elit.</h1>
</div>


 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

 
  <ul class="nav justify-content-center">
    
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/lightblue.png" alt="" width="200" height="95">
        </a>
      
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/register']">Register Here</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/portfolio']">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/feedback']">Feedback</a>
    </li>

  </ul>


</header>
